<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <a class="page-link" href="{{ '/research/' | relative_url }}">Research</a>
      <a class="page-link" href="{{ '/tutorials/' | relative_url }}">Tutorials</a>
      <a class="page-link" href="{{ '/gallery/' | relative_url }}">Gallery</a>
      <a class="page-link" href="{{ '/cv/' | relative_url }}">CV</a>
      <a class="page-link" href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>
